# ==========================================
# 🟢 PRODUCTION SETTINGS (Render / Vercel)
# ==========================================
# NODE_ENV=production
# CLIENT_URL=https://hms-new-frontend.vercel.app
# DATABASE_URL="postgresql://hms_software_user:RPDSXikiJi8xlVuyrM1Br02ypxmzlAej@dpg-d7krqln7f7vs73al8e1g-a/hms_software"

# ==========================================
# 💻 LOCAL SETTINGS (Localhost)
# ==========================================
NODE_ENV=development
CLIENT_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:admin@localhost:5433/hms_db"

PORT=5050

# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE=10
UPLOAD_PATH=./uploads

# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=developer@gohilinfotech.com
MAIL_PASSWORD=fmljjkikzopcrpet
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="developer@gohilinfotech.com"
MAIL_FROM_NAME="Hospital Management System"